SERVER_PORT=8083
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/places
SPRING_DATASOURCE_USERNAME=places
SPRING_DATASOURCE_PASSWORD=places
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
NOTIFICATION_FROM=no-reply@places.local
